.bg-oryo {
    background: #4d4d4d;
    color: #e85427;
  }

  .joto {
    width: 100%;
  }

  .text-oryo {
    color: #088158;
  }

  .active {
    border-bottom: 2px solid #e85427;
    border-radius: 0px;
  }