<div class="fixed z-50 w-full">
  <div class="md:px-14">
    <nav class="bg-[#9a7aa4] lg:rounded-3xl">
      <div class="me-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16 joto">
          <div class="flex justify-between items-center joto">
            <div class="flex-shrink-0">
              <div
                class="flex items-center cursor-pointer"
                [routerLink]="['/']"
              >
                <!-- <span class="text-[#242528] text-2xl font-bold mr-2">⦿</span> -->
                <span class="text-white font-extrabold text-2xl"
                  >SÍMBÍÀTÚÚ</span
                >
              </div>
              <!-- <img
                class="h-8 w-auto"
                src="simbiatuu.png"
                alt="Workflow"
                [routerLink]="['/']"
              /> -->
            </div>
            <button
              (click)="toggleCreate()"
              type="button"
              class="text-white hover:text-white inline-flex items-center justify-center p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-controls="mobile-menu"
              aria-expanded="false"
            >
              <span class="sr-only">Open main</span>
              <!-- Heroicon name: menu -->
              <svg
                class="h-11 w-11"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16m-7 6h7"
                ></path>
              </svg>
            </button>
            <!-- <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <ng-container *ngTemplateOutlet="navLinks"></ng-container>
              </div>
            </div> -->
            <!-- <div class="hidden md:block">
              <button
                class="custom-button group relative inline-flex items-center justify-between gap-3 px-6 py-3 rounded-md bg-white text-black backdrop-blur transition-all hover:bg-[#9a7aa4]"
                (click)="send()"
              >
                <span class="text-sm font-semibold tracking-wide button-text-3"
                  >Contact Us</span
                >
                <span
                  class="transition-transform duration-300 ease-in-out group-hover:rotate-45 group-hover:translate-x-1 button-text-3"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 384 512"
                    class="w-4 h-4 fill-current"
                  >
                    <path
                      d="M336 96c8.8 0 16 7.2 16 16v224c0 8.8-7.2 16-16 16s-16-7.2-16-16V150.6L59.3 411.3c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6L297.4 128H112c-8.8 0-16-7.2-16-16s7.2-16 16-16h224z"
                    />
                  </svg>
                </span>
                <div class="button-overlay"></div>
              </button>
            </div> -->
          </div>
          <!-- Hamburger menu for mobile -->
          <!-- <div class="-mr-2 flex md:hidden">
            <button
              (click)="toggleMenu()"
              type="button"
              class="text-white hover:text-white inline-flex items-center justify-center p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-controls="mobile-menu"
              aria-expanded="false"
            >
              <span class="sr-only">Open main</span>
              <svg
                class="h-6 w-6"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16m-7 6h7"
                ></path>
              </svg>
            </button>
          </div> -->
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div
        class="md:hidden"
        id="mobile-menu"
        [class]="menu ? 'block' : 'hidden'"
      >
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 flex flex-col">
          <ng-container *ngTemplateOutlet="navLinks"></ng-container>

          <button
            class="custom-button group relative inline-flex items-center justify-between gap-3 px-6 py-3 rounded-md bg-white text-[#9a7aa4] backdrop-blur transition-all hover:bg-[#9a7aa4]"
            (click)="send()"
          >
            <span class="text-sm font-semibold tracking-wide button-text-3"
              >Contact Us</span
            >
            <span
              class="transition-transform duration-300 ease-in-out group-hover:rotate-45 group-hover:translate-x-1 button-text-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512"
                class="w-4 h-4 fill-current"
              >
                <path
                  d="M336 96c8.8 0 16 7.2 16 16v224c0 8.8-7.2 16-16 16s-16-7.2-16-16V150.6L59.3 411.3c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6L297.4 128H112c-8.8 0-16-7.2-16-16s7.2-16 16-16h224z"
                />
              </svg>
            </span>
            <div class="button-overlay"></div>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>

<!-- Navigation Link Template -->
<ng-template #navLinks>
  <a
    class="text-white hover:text-[#c86635] px-3 py-2 rounded-md text-sm font-medium"
    [routerLink]="['/about']"
    routerLinkActive="active"
  >
    About us
  </a>
  <a
    class="text-white hover:text-[#c86635] px-3 py-2 rounded-md text-sm font-medium"
    [routerLink]="['/blog']"
    routerLinkActive="active"
  >
    Blog
  </a>
  <a
    class="text-white hover:text-[#c86635] px-3 py-2 rounded-md text-sm font-medium"
    [routerLink]="['/service']"
    routerLinkActive="active"
  >
    Services
  </a>
  <a
    class="text-white hover:text-[#c86635] px-3 py-2 rounded-md text-sm font-medium"
    [routerLink]="['/pricing']"
    routerLinkActive="active"
  >
    Pricing
  </a>
  <!--<a
    class="text-[#ffbd59] hover:text-white px-3 py-2 rounded-md text-sm font-medium"
    [routerLink]="['/clients']"
    routerLinkActive="active"
  >
    Clients
  </a> -->
</ng-template>

<!-- @if (iscreateOpen) { -->
<app-drawer
  [isOpen]="iscreateOpen"
  [title]="''"
  (close)="toggleCreate()"
  [arrow]="arrow"
  [arrowName]="arrowName"
  (backNav)="toggleSolutions()"
  size="md"
  [mobileSize]="'full'"
>
  @if (!isSolutionsOpen) {
  <div class="w-full h-full overflow-y-auto">
    <nav class="flex flex-col items-start justify-start space-y-6 px-10 py-6">
      @for (item of mainServices; track $index) { @if (item.link) {
      <a
        class="text-white text-3xl md:text-5xl font-medium hover:text-[#c86635]"
        [routerLink]="[item.link]"
        routerLinkActive="active"
      >
        {{ item.title }}
      </a>
      } @if (item.click) {
      <a
        href="javascript:void(0)"
        class="text-white text-3xl md:text-5xl font-medium hover:text-[#c86635]"
        (click)="item.click()"
      >
        {{ item.title }}
      </a>
      } }
    </nav>
  </div>
  } @else {
  <div class="w-full h-full overflow-y-auto">
    <nav class="flex flex-col items-start justify-start space-y-6 px-10 py-6">
      @for (item of services; track $index) {
      <a
        class="text-white text-3xl md:text-5xl font-medium hover:text-[#c86635]"
        [routerLink]="[item.link]"
        routerLinkActive="active"
      >
        {{ item.title }}
      </a>
      }
    </nav>
  </div>
  }
</app-drawer>

<!-- } -->
