<div class="min-h-screen bg-white text-white font-sans">
  <!-- NAVIGATION -->
  <app-header></app-header>

  <header class="h-auto md:h-[90vh] flex items-center bg-white relative">
    <div
      class="gradent bottom-0 left-0 opacity-10 w-[300px] h-[300px] md:h-[500px] md:w-[500px]"
    ></div>
    <div
      class="w-full max-w-screen-2xl mx-auto flex flex-col-reverse md:flex-row items-center justify-between gap-10 px-6 py-12 md:py-0 md:px-24"
    >
      <!-- Text Content -->
      <div class="text-center md:text-left md:w-1/2 pt-6 md:pt-0">
        <h1
          class="text-4xl sm:text-5xl lg:text-6xl font-bold text-[#0f0f0f] mb-4 leading-tight"
        >
          Branding That Drives Results
        </h1>
        <p
          class="text-[#0f0f0f] mb-6 max-w-md mx-auto md:mx-0 text-sm sm:text-base"
        >
          We turn ideas into revenue through design, strategy, and creative
          collaboration.
        </p>
        <div
          class="flex flex-col sm:flex-row justify-center md:justify-start gap-4"
        >
          <button
            class="custom-button group relative inline-flex items-center justify-between gap-3 px-6 py-3 rounded-full bg-white text-[#e35336] backdrop-blur transition-all hover:bg-[#e35336a0]"
            [routerLink]="['/contact']"
            routerLinkActive="router-link-active"
          >
            <span class="text-sm font-semibold tracking-wide button-text-3"
              >Contact Us</span
            >
            <span
              class="transition-transform duration-300 ease-in-out group-hover:rotate-45 group-hover:translate-x-1 button-text-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512"
                class="w-4 h-4 fill-current"
              >
                <path
                  d="M336 96c8.8 0 16 7.2 16 16v224c0 8.8-7.2 16-16 16s-16-7.2-16-16V150.6L59.3 411.3c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6L297.4 128H112c-8.8 0-16-7.2-16-16s7.2-16 16-16h224z"
                />
              </svg>
            </span>
            <div class="button-overlay"></div>
          </button>
        </div>
      </div>

      <!-- Image Train (Right) -->
      <!-- <div class="md:w-1/2 w-full overflow-hidden">
        <div
          class="image-train-container relative h-[360px] sm:h-[420px] md:h-[480px] overflow-hidden"
        >
          <div class="image-train-track animate-scrollUp">
            <div class="image-train-row flex gap-4 px-2">
              <img
                src="simbi.jpg"
                alt="People meeting"
                class="w-full sm:w-52 md:w-60 object-cover rounded-lg"
              />
              <img
                src="forbes.jpg"
                alt="Explaining project"
                class="w-full sm:w-52 md:w-60 object-cover rounded-lg"
              />
              <img
                src="madam.jpg"
                alt="Debugging code"
                class="w-full sm:w-52 md:w-60 object-cover rounded-lg"
              />
            </div>
            <div class="image-train-row flex gap-4 px-2 mt-4">
              <img
                src="madam.jpg"
                alt="People meeting"
                class="w-full sm:w-52 md:w-60 object-cover rounded-lg"
              />
              <img
                src="simbi.jpg"
                alt="Explaining project"
                class="w-full sm:w-52 md:w-60 object-cover rounded-lg"
              />
              <img
                src="forbes.jpg"
                alt="Debugging code"
                class="w-full sm:w-52 md:w-60 object-cover rounded-lg"
              />
            </div>
          </div>
        </div>
      </div> -->
      <div class="md:w-1/2 w-full overflow-hidden">
        <div
          class="image-train-container relative h-[360px] sm:h-[420px] md:h-[480px] overflow-hidden"
        >
          <div class="image-train-track animate-scrollUp">
            <div class="image-train-row flex gap-4 px-2">
              <img
                src="simbi1.png"
                alt="People meeting"
                class="w-full object-center rounded-lg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div
    class="flex flex-col lg:flex-row max-w-7xl mx-auto py-10 px-4 sm:px-6 lg:px-8 gap-8 pt-20 relative"
  >
    <div
      class="gradent-left w-[300px] h-[300px] md:h-[500px] md:w-[500px]"
    ></div>
    <div
      class="gradent-right absolute w-fit h-fit md:h-[454px] md:w-[440px]"
    ></div>
    <!-- Sidebar -->
    <!-- <aside
      class="bg-[#1e1e1e] rounded-2xl p-6 w-full lg:w-1/4 text-center shadow-lg"
    >
      <img
        src="https://via.placeholder.com/150"
        alt="Profile"
        class="rounded-full mx-auto w-24 h-24 sm:w-28 sm:h-28 lg:w-32 lg:h-32 object-cover"
      />
      <h2 class="text-xl sm:text-2xl font-bold mt-4">Ola' Arowolo</h2>
      <p class="text-sm text-gray-400 mt-1 leading-snug">
        Cybersecurity Professional<br />Full-Stack Developer
      </p>

      <div class="mt-6 text-left space-y-4 text-sm">
        <div class="flex items-center gap-2">
          <i class="fas fa-envelope text-yellow-400"></i>
          <span>{{ "tech@olaarowolo.com" }}</span>
        </div>
        <div class="flex items-center gap-2">
          <i class="fas fa-phone text-yellow-400"></i>
          <span>+44 (0)7487 987751</span>
        </div>
        <div class="flex items-center gap-2">
          <i class="fas fa-map-marker-alt text-yellow-400"></i>
          <span>Rochester, Kent, United Kingdom</span>
        </div>
      </div>

      <div class="mt-4 flex justify-center gap-4 text-lg">
        <i class="fab fa-github"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter"></i>
      </div>
    </aside> -->

    <!-- Main Content -->
    <main class="flex-1">
      <!-- About Section -->
      <section class="mb-10">
        <h1 class="text-2xl sm:text-3xl font-bold mb-4 text-[#0f0f0f]">
          About Me
        </h1>
        <p class="text-[#0f0f0f] text-sm sm:text-base">
          Hi, I’m SÍMBÍÀTÚÚ an affiliate marketer, content strategist, and
          storyteller with a passion for connecting brands to the right
          audiences.
        </p>
        <p class="text-[#0f0f0f] mt-4 text-sm sm:text-base">
          I specialise in tech, hospitality, fashion, lifestyle, non-profits,
          real estate, health & wellness, helping businesses grow visibility and
          sales through affiliate partnerships that actually convert. My focus
          is on building authentic, trust-driven campaigns where customers feel
          connected to the story behind the product not just the product itself.
        </p>
        <p class="text-[#0f0f0f] mt-4 text-sm sm:text-base">
          As a multi-entrepreneur and single immigrant mom, I know the value of
          resilience, clarity, and intentional action. I bring that same drive
          into every campaign I create ensuring your brand is seen, heard, and
          remembered in a crowded marketplace.
        </p>
        <p class="text-[#0f0f0f] mt-4 text-sm sm:text-base">
          At Simbiatuu, affiliate marketing isn’t just about links it’s about
          relationships, storytelling, and results.
        </p>
      </section>

      <!-- Services Section -->
      <section class="mb-10">
        <h2 class="text-xl sm:text-2xl font-semibold mb-4 text-[#0f0f0f]">
          What I'm Doing
        </h2>
        <p class="text-[#0f0f0f] mt-4 text-sm sm:text-base mb-6">
          We help brands grow through performance-based affiliate marketing. By
          connecting businesses with trusted affiliates bloggers, influencers,
          and digital marketers we drive high quality traffic, increase sales,
          and expand online visibility. You only pay for real results, making it
          one of the most cost-effective ways to scale your business.
        </p>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="bg-white p-4 rounded-lg shadow hover:shadow-lg">
            <h3
              class="text-lg font-bold flex items-center gap-2 text-[#0f0f0f]"
            >
              <i class="fas fa-laptop-code text-[#9a7aa4]"></i>
              Unattached Affiliate Marketing
            </h3>
            <p class="text-sm text-gray-400 mt-2">
              Let me help you get visibility fast. With unattached affiliate
              marketing, I promote your products directly through ads and
              placements, reaching fresh audiences beyond my network. No
              waiting, no extra layers just pure exposure that drives clicks,
              traffic, and sales at scale.
            </p>
          </div>
          <div class="bg-white p-4 rounded-lg shadow hover:shadow-lg">
            <h3
              class="text-lg font-bold flex items-center gap-2 text-[#0f0f0f]"
            >
              <i class="fas fa-code text-yellow-400"></i>
              Related Affiliate Marketing
            </h3>
            <p class="text-sm text-gray-400 mt-2">
              Let me connect your products with the right audience. By aligning
              your brand with content in your niche, I create authentic
              recommendations that naturally fit what my audience is already
              searching for. The result? More trust, more relevance, and more
              conversions.
            </p>
          </div>
          <div class="bg-white p-4 rounded-lg shadow hover:shadow-lg">
            <h3
              class="text-lg font-bold flex items-center gap-2 text-[#0f0f0f]"
            >
              <i class="fas fa-mobile-alt text-yellow-400"></i>
              Involved Affiliate Marketing
            </h3>
            <p class="text-sm text-gray-400 mt-2">
              Let me showcase your brand with genuine authority. I don’t just
              recommend I experience. By using, testing, and trusting your
              products myself, I create authentic stories that resonate with my
              audience. When I share, it’s not promotion it’s proof.
            </p>
          </div>
          <div class="bg-[white] p-4 rounded-lg shadow hover:shadow-lg">
            <h3 class="text-lg font-bold flex items-center gap-2 text-[#0f0f0f]">
              <i class="fas fa-camera text-yellow-400"></i>
              Recurring Affiliate Marketing
            </h3>
            <p class="text-sm text-gray-400 mt-2">
              Let me help you build lasting revenue. With subscription-based
              promotions, I spotlight your products in a way that keeps
              customers coming back month after month. It’s not just one-time
              sales it’s sustainable growth through repeat engagement.
            </p>
          </div>
        </div>

        <div class="flex justify-center items-center mt-5">
          <button
            class="custom-button group relative inline-flex items-center justify-between gap-3 px-6 py-3 rounded-md bg-[#ffbd59] text-white backdrop-blur transition-all hover:bg-[#e35336a0]"
          >
            <span class="text-sm font-semibold tracking-wide button-text-3"
              >View Our Services</span
            >
            <span
              class="transition-transform duration-300 ease-in-out group-hover:rotate-45 group-hover:translate-x-1 button-text-3"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 384 512"
                class="w-4 h-4 fill-current"
              >
                <path
                  d="M336 96c8.8 0 16 7.2 16 16v224c0 8.8-7.2 16-16 16s-16-7.2-16-16V150.6L59.3 411.3c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6L297.4 128H112c-8.8 0-16-7.2-16-16s7.2-16 16-16h224z"
                />
              </svg>
            </span>
            <div class="button-overlay"></div>
          </button>
        </div>
      </section>
    </main>
  </div>

  <app-streamline></app-streamline>
  <!-- Testimonials Section -->
  <app-testimonials />
  <app-footer />
</div>
