<section class="bg-[#F8FAFC] py-16 px-4 image-train-wrapper relative">
  <div class="gradent-top-right opacity-15  w-[300px] h-[300px] md:h-[500px] md:w-[500px]"></div>
  <div class="max-w-7xl mx-auto text-center">
    <h2 class="text-3xl md:text-4xl font-bold mb-10 text-black">
      Where Startups Ignite, <br />
      and Scaleups Soar <br />
      <span class="text-black">SÍMBÍÀTÚÚ the Launchpad.</span>
    </h2>

    <div class="image-train-track">
      <div class="flex gap-6 animate-scroll-left w-max">
        @for (i of [1, 2]; track i) { @for (testimonial of testimonials; track
        testimonial) {
        <div
          class="bg-white rounded-2xl shadow-md p-6 w-80 shrink-0 flex flex-col items-start text-left"
        >
          <div class="flex items-center space-x-3 mb-4">
            <!-- <img
              [src]="testimonial.image"
              alt="{{ testimonial.name }}"
              class="w-10 h-10 rounded-full object-cover"
            /> -->
            <div>
              <p class="font-semibold">{{ testimonial.name }}</p>
              <p class="text-sm text-gray-500">{{ testimonial.role }}</p>
            </div>
          </div>

          <p class="text-sm text-gray-800 mb-4">"{{ testimonial.quote }}"</p>

          <div class="flex items-center space-x-1 text-yellow-500">
            @for (star of [1,2,3,4,5]; track star) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-4 w-4"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.234 3.81a1 1 0 00.95.69h4.003c.969 0 1.371 1.24.588 1.81l-3.24 2.355a1 1 0 00-.364 1.118l1.234 3.81c.3.921-.755 1.688-1.538 1.118l-3.24-2.355a1 1 0 00-1.175 0l-3.24 2.355c-.783.57-1.838-.197-1.538-1.118l1.234-3.81a1 1 0 00-.364-1.118L2.274 9.237c-.783-.57-.38-1.81.588-1.81h4.003a1 1 0 00.95-.69l1.234-3.81z"
              />
            </svg>
            }
            <span class="text-black text-sm ml-2">5.0</span>
          </div>
        </div>
        } }
      </div>
    </div>
  </div>
</section>
