/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

.custom-button {
  position: relative;
  overflow: hidden;
  z-index: 2;
  text-transform: none;
}

.custom-button span {
  z-index: 2;
}

.button-overlay {
  background-color: #dec4e6;
  border: 1px #000;
  border-radius: 100%;
  width: 125%;
  height: 400%;
  position: absolute;
  z-index: 1;
  inset: auto auto -400% -12.5%;
  transform: translate3d(0px, -125%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
  pointer-events: none;
}

.custom-button:hover .button-overlay {
  transform: translate3d(0px, -50%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}



.gradent-left {
  position: absolute;
  top: 0px;
  left: 0px;
  /* z-index: -9; */
  border-radius: 367px;
  opacity: 0.1;
  background: #6c2346;
  filter: blur(100px);
  /* flex-shrink: 0; */
}
.gradent-left.adjustment-1 {
  opacity: 0.3;
  /* flex-shrink: 0; */
}

.gradent-top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  /* z-index: -9; */
  border-radius: 367px;
  background: #6c2346;
  filter: blur(100px);
  /* flex-shrink: 0; */
}
.gradent {
  position: absolute;
  /* z-index: -9; */
  border-radius: 367px;
  background: #6c2346;
  filter: blur(100px);
  /* flex-shrink: 0; */
}

.gradent-right {
  bottom: -100px;
  right: 0vh;
  /* z-index: -9; */
  opacity: 0.3;
  background: #6c2346;
  filter: blur(100px);
  /* flex-shrink: 0; */
}


.gradent-left-2 {
  bottom: -100px;
  left: 0vh;
  /* z-index: -9; */
  opacity: 0.3;
  background: #c86635;
  filter: blur(200px);
  width: 80%;
  height: 136%;
  /* flex-shrink: 0; */
}

